body {
    margin: 0;
}

#title-container {
    height: 20px;
    background: #eee;
    padding: 12px 16px 8px 16px;
    border-bottom: 1pt solid #ddd;
}

#title {
    font-weight: bold;
 }

 .agent {
    fill: #efd;
    stroke:black;
    stroke-width: 1
 }

 .sensor {
     stroke: #ddd;
     stroke-width: 1;
 }

 .message {
     padding: 16px;
     color: yellow;
     background: black;
 }

 .buttons {
    position: absolute;
    right: 10px;
    top: 10px;     
 }

 .action-button {
     margin: 0 2px 0 2px;
 }

 button:focus {outline:0;}